:root {
    font-family: "Nunito", sans-serif;
    --color-main: #ed6436;
}
body {
    margin: 0;
    margin-top: 40px;
    font-size: 1.125rem;
}

html {
    font-family: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

input {
    font-family: "Nunito", sans-serif;
}

.button {
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: var(--color-main);
    border: none;
    border-top-left-radius: 3px;
    padding: 10px;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.main-section {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 1rem;
    color: var(--color-main);
    margin-bottom: 10px;
}

article.card {
    display: flex;
    height: 200px;
    justify-content: space-around;
    position: relative;
}

img.card__image {
    border-radius: 20px;
    position: relative;
}

span.card__info {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 10px;
}
.card__info--bold {
    font-weight: bold;
}

article.card {
    margin-bottom: 20px;
}

@media (min-width: 900px) {
    body {
        margin-left: 33px;
        margin-right: 33px;
    }

    .button {
        display: none;
    }

    .main-section {
        text-align: start;
        display: flex;
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    main {
        display: flex;
        justify-content: space-between;
    }
    .card__info {
        display: none;
        top: 250px;
    }
    article.card:hover .card__info {
        display: block;
    }
    img.card__image {
        border-radius: 20px;
        position: relative;
        object-fit: cover;
        width: 400px;
        height: 500px;
        align-items: center;
    }
}
